<?xml version="1.0" encoding="ISO-8859-1" ?>
<configuration>
    <serverAddress>127.0.0.1</serverAddress>
    <virtualServerId>1</virtualServerId>
    <botNickname>AFKicker</botNickname>
    <username>TestAdmin</username>
    <password>USbS3jbC</password>

    <afkChannelId>8</afkChannelId>
    <afkTimeToMove>1</afkTimeToMove>
    <botCheckDelay>1</botCheckDelay>
    <safeGroups>
        <groupId>1</groupId>
        <groupId>2</groupId>
        <groupId>3</groupId>
        <groupId>5</groupId>
    </safeGroups>
</configuration>